streamlit
pandas
numpy
scikit-learn
imbalanced-learn
xgboost
plotly
joblib
shap
matplotlib
seaborn
langchain
langchain-community
langchain-core
langchain-openai
langchain-anthropic
langchain-groq
sentence-transformers
faiss-cpu
pypdf
reportlab
python-dotenv
langchain-text-splitters
